@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

.projects-heading {
  font-family: "Nintendoid1";
  letter-spacing: 3px;
  color: black;
  text-shadow: 0.1rem 0 0.06rem red, -0.125rem 0 0.06rem #ff0084;
  animation-duration: 0.1s;
  animation-name: textflicker;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  height: 8rem;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  font-size: 2.2rem;
}

.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-content {
  display: flex;
  height: 30rem;
  justify-content: center;
  align-items: center;
}

.coming-soon {
  /* font-family: "San Francisco Display Black"; */
  /* position: absolute; */
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  color: black;
  letter-spacing: 0.5px;
  padding: 10px;
  border: double rgb(0, 0, 0);
  border-width: 3px 4px 3px 5px;
  border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
}

.coming-soon:hover {
  border: double rgba(0, 0, 0, 0.818);
  border-width: 4px 6px 5px 3px;
  border-radius: 5% 1% 46% 1%/8% 49% 12% 59%;
}
