.about-container {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.about-image img {
  display: flex;
  justify-content: center;
  height: 200px;
  width: 200px;
  border-radius: 9999px;
  margin-top: 50px;
  left: 20%;
}
