nav{
    background:rgb(255, 255, 255);
    width: max-content;
    display: block;
    padding: 1.2rem 1.9rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    bottom: 2.5rem;
    transform: translateX(-50%);
    display: flex;
    gap: 25px;
    border-radius: 1rem;
    backdrop-filter: blur(15px);
    box-shadow: rgba(0, 0, 0, 0.173) 0px 5px 7px;
}

#element{
    background: rgb(255, 255, 255);
    width: max-content;
    border-radius: 1.4rem;
    padding: 0.8rem 0.9rem;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 10px;
}

nav a{
    display: flex;
    color: rgb(140, 143, 166);
    font-size: 35px;
}

nav a:hover{
    transform: translateY(-22%);
}